<div id="anchor-3" class="anchor-3">
    {% for item in items %}
        <div{{ item.attributes.addClass('anchor__item') }}>
            <div class="anchor__item-inner">
                {{ item.content }}
            </div>
        </div>
    {% endfor %}
</div>